<div class="slider_banner">
    <div class="item_slider slider-1">
        <img src="/img/slider/3.png" alt="" >
    </div>
    <div class="item_slider slider-2">
        <img src="/img/slider/2.png" alt="" >
    </div>
    <div class="item_slider slider-3">
        <img src="/img/slider/4.png" alt="" >
    </div>
</div>

<div class="introduct">
    <div class="wrapper_intro div_skew">
        <div class="layout is-between">
            <div class="heading_intro"> 
                <h1>viet phat</h1>
                <h2>Safe and quality<br>
                    elevator components
                </h2>
                <div class="company_intro">
                    <p class="text_intro">
                        Công ty TNHH Phụ tùng thang máy Việt Phát là một công ty thương mại đã tham gia tích cực vào ngành thang máy trong nhiều năm. Công ty đặt tại đường Thiên Lôi, Hải Phòng, Việt Nam. Mục tiêu chính của chúng tôi là cung cấp phụ kiện thang máy chất lượng cao, cải tạo kết nối điện, phụ kiện thang máy và các sản phẩm liên quan cho khách hàng toàn Việt Nam
                    </p>
                </div>
                <button class="btn-web more_btn_intro">Xem thêm</button>
            </div>

            <div class="company_intro_img animation-right">
                <img src="/img/slider/1.png" alt="">
            </div>
        </div>
        
    </div>
    

</div>

<div class="index_product layout">
    <ul class="product_tab">
        <li class="tab_item is-center active ">
            COP - LOP
        </li>
        <li class="tab_item is-center ">
            linh kiện điện 
        </li>
        <li class="tab_item is-center ">
            linh kiện inox
        </li>
        <li class="tab_item is-center ">
           linh kiện thép
        </li>
    </ul>
    <div class="list_card">
        <div class="list_card_container active">
            <ul class="arrow_card  cop-list-1"></ul>
        </div>

        <div class="list_card_container">
            <ul class="arrow_card  dien-list-1"></ul>
        </div>

        <div class="list_card_container">
            <ul class="arrow_card  inox-list-1"></ul>
        </div>

        <div class="list_card_container">
            <ul class="arrow_card  thep-list-1"></ul>
        </div>

    </div>
</div>

<div class="index_news layout">
    <div class="heading_news is-center">
        Featured Articles
    </div>

    <div class="item_inner is-between animation-top inner_frist">
        
    </div>

    <div class="item_inner is-between animation-top inner_second">
        
    </div>
</div>

