<div class="layout is-between layout_user">
    <aside>
        <div class="add_user">
            <img src="https://www.dropbox.com/scl/fi/wejke33icwbzgcb1xhhv4/2.jpg?rlkey=mi9dylwxime6zkcp4kgu1vlcx&st=0ghf9l3f&dl=1" alt="Ảnh đại diện">
            <div class="infor">
                <h5>huyhung</h5>
                <span><i class="bi bi-pencil"></i>Sửa hồ sơ</span>
            </div>
        </div>
        <div class="deliver" style="margin-top: 20px;"></div>
        <ul>
            <li>
                <i class="bi bi-person"></i>
                <a href="/notification">thông báo</a>
                <ul class="dropdown profile_drop active">
                    <li class="level_young active">cập nhật đơn hàng</li>
                    <li class="level_young">khuyến mãi</li>
                </ul>
            </li>
            <li>
                <i class="bi bi-person"></i>
                <a href="/profile">thông tin tài khoản</a>
            </li>
            <li>
                <i class="bi bi-person"></i>
                <a href="/order">đơn hàng</a>
            </li>
        </ul>
    </aside>
    <div class="content_profile active">
        <div class="name_content">
            <h5>Thông báo đơn hàng của bạn</h5>
        </div>
        <div class="infor_user_profile is-center mt-2">
            <ul>
                <li>
                    <div class="wrapper_notification_item">
                        <div class="img_product">
                            <img src="/img/products/1.jpg" alt="ảnh sản phẩm">
                        </div>
                        <div class="content_notification">
                            <h5>Đang vận chuyển</h5>
                            <p>Đơn hàng <span>chiếc đũa huyền thoại</span> đã được vận chuyển bỏi <span>J&T express</span></p>
                            <p>19:20 11-02-2025</p>
                        </div>
                        <button class="button_detail">Xem chi tiết</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="content_profile">
        <div class="name_content">
            <h5>Thông báo vourcher</h5>
        </div>
        <div class="infor_user_profile is-center mt-2">
            <ul>
                <li>
                    <div class="wrapper_notification_item">
                        <div class="img_product">
                            <img src="/img/products/1.jpg" alt="ảnh sản phẩm">
                        </div>
                        <div class="content_notification">
                            <h5>Đang vận chuyển</h5>
                            <p>Đơn hàng <span>chiếc đũa huyền thoại</span> đã được vận chuyển bỏi <span>J&T express</span></p>
                            <p>19:20 11-02-2025</p>
                        </div>
                        <button class="button_detail">Xem chi tiết</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>