<div class="layout is-between layout_user">
    <aside>
        <div class="add_user">
            <img src="https://www.dropbox.com/scl/fi/wejke33icwbzgcb1xhhv4/2.jpg?rlkey=mi9dylwxime6zkcp4kgu1vlcx&st=0ghf9l3f&dl=1" alt="Ảnh đại diện">
            <div class="infor">
                <h5>huyhung</h5>
                <span><i class="bi bi-pencil"></i>Sửa hồ sơ</span>
            </div>
        </div>
        <div class="deliver" style="margin-top: 20px;"></div>
        <ul>
            <li>
                <i class="bi bi-bell"></i> 
                <a href="/notification">thông báo</a>
            </li>
            <li>
                <i class="bi bi-person"></i>
                <a href="/profile">thông tin tài khoản</a>
            </li>
            <li>
                <i class="bi bi-receipt"></i>
                <a href="/order">đơn hàng</a>
            </li>
        </ul>
    </aside>
    <div class="content_profile active removeback">
        <div class="tab_order_ui">
            <div class="item_tab_ui active">
                Tất cả
            </div>
            <div class="item_tab_ui">
                Đang giao hàng <span style="color: var(--color-main);">(1)</span>
            </div>
            <div class="item_tab_ui">
                Hoàn thành
            </div>
            <div class="item_tab_ui">
                Đã hủy
            </div>
            <div class="item_tab_ui ">
                Trả hàng
            </div>
        </div>
        <div class="search_order">
            <form action="" method="get">
                <input type="text" name="timkiem" placeholder="Tìm kiếm đơn hàng theo tên sản phẩm hoặc id đơn hàng">
                <button class="btn_search">search</button>
            </form>
        </div>
        <div class="main_ui_order active">
            <ul class="list_order">
                <li class="item_order">
                    <div class="header is-between">
                        <div class="d-flex align-items-center">
                            <div class="love_product">yêu thích</div>
                            <h5>Thang máy Việt Phát</h5>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="process_order">
                                <i class="bi bi-truck"></i> Đang vận chuyển
                            </div>
                            <h5 class="title">chờ giao hàng</h5>
                        </div>
                    </div>
                    <ul class="list_product">
                        <li class="is-between">
                            <div class="d-flex">
                                <div class="img_product">
                                    <img src="/img/products/1.jpg" alt="">
                                </div>
                                <div class="name_product">
                                    <h5>COP - Bảng điều khiển trong cabin mặt kính cảm ứng <br>
                                        Số lượng: x1
                                    </h5>
                                </div>
                            </div>
                            <div class="is-center">
                                <h6 class="original">
                                    100.000đ
                                </h6>
                                <h6 class="price">
                                    90.000đ
                                </h6>
                            </div>
                        </li>
                        <li class="is-between">
                            <div class="d-flex">
                                <div class="img_product">
                                    <img src="/img/products/1.jpg" alt="">
                                </div>
                                <div class="name_product">
                                    <h5>COP - Bảng điều khiển trong cabin mặt kính cảm ứng <br>
                                        Số lượng: x1
                                    </h5>
                                </div>
                            </div>
                            <div class="is-center">
                                <h6 class="original">
                                    100.000đ
                                </h6>
                                <h6 class="price">
                                    90.000đ
                                </h6>
                            </div>
                        </li>
                    </ul>
                    
                </li>
                <div class="total_price">
                    <div class="total_number is-between">
                        <h5>Thành tiền: <span>180.000đ</span></h5>
                    </div>
                    <div class="total_number is-between supcription">
                        <p>Đơn hàng sẽ giao cho bạn trong vòng 5 ngày kể từ khi đặt hàng. 
                        Vui lòng chú ý điện thoại để nhận hàng từ người giao</p>
                        <div class="operation">
                            <button class="btn_save_profile">Liên hệ ngay</button>
                            <button class="btn_save_profile btn-review">Hủy đơn</button>
                        </div>
                    </div>
                </div>

                <li class="item_order">
                    <div class="header is-between">
                        <div class="d-flex align-items-center">
                            <div class="love_product">yêu thích</div>
                            <h5>Thang máy Việt Phát</h5>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="process_order">
                                <i class="bi bi-truck"></i> Đã giao hàng thành công
                            </div>
                            <h5 class="title">hoàn thành</h5>
                        </div>
                    </div>
                    <ul class="list_product">
                        <li class="is-between">
                            <div class="d-flex">
                                <div class="img_product">
                                    <img src="/img/products/1.jpg" alt="">
                                </div>
                                <div class="name_product">
                                    <h5>COP - Bảng điều khiển trong cabin mặt kính cảm ứng <br>
                                        Số lượng: x1
                                    </h5>
                                </div>
                            </div>
                            <div class="is-center">
                                <h6 class="original">
                                    100.000đ
                                </h6>
                                <h6 class="price">
                                    90.000đ
                                </h6>
                            </div>
                        </li>
                        <li class="is-between">
                            <div class="d-flex">
                                <div class="img_product">
                                    <img src="/img/products/1.jpg" alt="">
                                </div>
                                <div class="name_product">
                                    <h5>COP - Bảng điều khiển trong cabin mặt kính cảm ứng <br>
                                        Số lượng: x1
                                    </h5>
                                </div>
                            </div>
                            <div class="is-center">
                                <h6 class="original">
                                    100.000đ
                                </h6>
                                <h6 class="price">
                                    90.000đ
                                </h6>
                            </div>
                        </li>
                    </ul>
                    
                </li>
                <div class="total_price">
                    <div class="total_number is-between">
                        <h5>Thành tiền: <span>180.000đ</span></h5>
                    </div>
                    <div class="total_number is-between supcription">
                        <p>Đánh giá sản phẩm để nhận voucher hấp dẫn <br>
                        <span style="color: var(--color-main);">Thời gian: 12/3/2025</span></p>
                        <div class="operation">
                            <button class="btn_save_profile">đánh giá</button>
                            <button class="btn_save_profile">Liên hệ ngay</button>
                            <button class="btn_save_profile btn-review">trả hàng</button>
                        </div>
                    </div>
                </div>
            </ul>
            
        </div>

        <div class="main_ui_order ">
            <ul class="list_order">
                <li class="item_order">
                    <div class="header is-between">
                        <div class="d-flex align-items-center">
                            <div class="love_product">yêu thích</div>
                            <h5>Thang máy Việt Phát</h5>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="process_order">
                                <i class="bi bi-truck"></i> Đang vận chuyển
                            </div>
                            <h5 class="title">chờ giao hàng</h5>
                        </div>
                    </div>
                    <ul class="list_product">
                        <li class="is-between">
                            <div class="d-flex">
                                <div class="img_product">
                                    <img src="/img/products/1.jpg" alt="">
                                </div>
                                <div class="name_product">
                                    <h5>COP - Bảng điều khiển trong cabin mặt kính cảm ứng <br>
                                        Số lượng: x1
                                    </h5>
                                </div>
                            </div>
                            <div class="is-center">
                                <h6 class="original">
                                    100.000đ
                                </h6>
                                <h6 class="price">
                                    90.000đ
                                </h6>
                            </div>
                        </li>
                        <li class="is-between">
                            <div class="d-flex">
                                <div class="img_product">
                                    <img src="/img/products/1.jpg" alt="">
                                </div>
                                <div class="name_product">
                                    <h5>COP - Bảng điều khiển trong cabin mặt kính cảm ứng <br>
                                        Số lượng: x1
                                    </h5>
                                </div>
                            </div>
                            <div class="is-center">
                                <h6 class="original">
                                    100.000đ
                                </h6>
                                <h6 class="price">
                                    90.000đ
                                </h6>
                            </div>
                        </li>
                    </ul>
                    
                </li>
                <div class="total_price">
                    <div class="total_number is-between">
                        <h5>Thành tiền: <span>180.000đ</span></h5>
                    </div>
                    <div class="total_number is-between supcription">
                        <p>Đơn hàng sẽ giao cho bạn trong vòng 5 ngày kể từ khi đặt hàng. 
                        Vui lòng chú ý điện thoại để nhận hàng từ người giao</p>
                        <div class="operation">
                            <button class="btn_save_profile">liên hệ ngay</button>
                            <button class="btn_save_profile btn-review">Hủy đơn</button>
                        </div>
                    </div>
                </div>
            </ul>
        </div>

        <div class="main_ui_order">
            <ul class="list_order">
                <li class="item_order">
                    <div class="header is-between">
                        <div class="d-flex align-items-center">
                            <div class="love_product">yêu thích</div>
                            <h5>Thang máy Việt Phát</h5>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="process_order">
                                <i class="bi bi-truck"></i> Giao hàng thành công
                            </div>
                            <h5 class="title">hoàn thành</h5>
                        </div>
                    </div>
                    <ul class="list_product">
                        <li class="is-between">
                            <div class="d-flex">
                                <div class="img_product">
                                    <img src="/img/products/1.jpg" alt="">
                                </div>
                                <div class="name_product">
                                    <h5>COP - Bảng điều khiển trong cabin mặt kính cảm ứng <br>
                                        Số lượng: x1
                                    </h5>
                                </div>
                            </div>
                            <div class="is-center">
                                <h6 class="original">
                                    100.000đ
                                </h6>
                                <h6 class="price">
                                    90.000đ
                                </h6>
                            </div>
                        </li>
                        <li class="is-between">
                            <div class="d-flex">
                                <div class="img_product">
                                    <img src="/img/products/1.jpg" alt="">
                                </div>
                                <div class="name_product">
                                    <h5>COP - Bảng điều khiển trong cabin mặt kính cảm ứng <br>
                                        Số lượng: x1
                                    </h5>
                                </div>
                            </div>
                            <div class="is-center">
                                <h6 class="original">
                                    100.000đ
                                </h6>
                                <h6 class="price">
                                    90.000đ
                                </h6>
                            </div>
                        </li>
                    </ul>
                    
                </li>
                <div class="total_price">
                    <div class="total_number is-between">
                        <h5>Thành tiền: <span>180.000đ</span></h5>
                    </div>
                    <div class="total_number is-between supcription">
                        <p>Đánh giá sản phẩm để nhận voucher hấp dẫn <br>
                        <span style="color: var(--color-main);">Thời gian: 12/3/2025</span></p>
                        <div class="operation">
                            <button class="btn_save_profile">đánh giá</button>
                            <button class="btn_save_profile">Liên hệ ngay</button>
                            <button class="btn_save_profile btn-review">trả hàng</button>
                        </div>
                    </div>
                </div>
            </ul>
        </div>

        <div class="main_ui_order ">
            <ul class="list_order">
                <li class="item_order">
                    <div class="header is-between">
                        <div class="d-flex align-items-center">
                            <div class="love_product">yêu thích</div>
                            <h5>Thang máy Việt Phát</h5>
                        </div>
                        <div class="d-flex align-items-center">
                            <h5 class="title">đã hủy</h5>
                        </div>
                    </div>
                    <ul class="list_product">
                        <li class="is-between">
                            <div class="d-flex">
                                <div class="img_product">
                                    <img src="/img/products/1.jpg" alt="">
                                </div>
                                <div class="name_product">
                                    <h5>COP - Bảng điều khiển trong cabin mặt kính cảm ứng <br>
                                        Số lượng: x1
                                    </h5>
                                </div>
                            </div>
                            <div class="is-center">
                                <h6 class="original">
                                    100.000đ
                                </h6>
                                <h6 class="price">
                                    90.000đ
                                </h6>
                            </div>
                        </li>
                        <li class="is-between">
                            <div class="d-flex">
                                <div class="img_product">
                                    <img src="/img/products/1.jpg" alt="">
                                </div>
                                <div class="name_product">
                                    <h5>COP - Bảng điều khiển trong cabin mặt kính cảm ứng <br>
                                        Số lượng: x1
                                    </h5>
                                </div>
                            </div>
                            <div class="is-center">
                                <h6 class="original">
                                    100.000đ
                                </h6>
                                <h6 class="price">
                                    90.000đ
                                </h6>
                            </div>
                        </li>
                    </ul>
                    
                </li>
                <div class="total_price">
                    <div class="total_number is-between">
                        <h5>Thành tiền: <span>180.000đ</span></h5>
                    </div>
                    <div class="total_number is-between supcription">
                        <p>Đã được hủy bởi bạn<br>
                        <span style="color: var(--color-main);">Thời gian: 12/3/2025</span></p>
                        <div class="operation">
                            <button class="btn_save_profile">mua lại</button>
                            <button class="btn_save_profile ">Liên hệ ngay</button>
                            <button class="btn_save_profile btn-review">xem chi tiết</button>
                        </div>
                    </div>
                </div>
            </ul>
        </div>

        <div class="main_ui_order ">
            <ul class="list_order">
                <li class="item_order back_gr_empty" style="padding: 10%;">
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/return/5fafbb923393b712b964.png" alt="">
                    <h5>Bạn hiện đang không có yêu cầu trả hàng nào</h5>
                </li>
            </ul>
        </div>
    </div>
</div>