<div class="layout is-between layout_user">
    <aside>
        <div class="add_user">
            <img src="https://www.dropbox.com/scl/fi/wejke33icwbzgcb1xhhv4/2.jpg?rlkey=mi9dylwxime6zkcp4kgu1vlcx&st=0ghf9l3f&dl=1" alt="Ảnh đại diện">
            <div class="infor">
                <h5>huyhung</h5>
                <span><i class="bi bi-pencil"></i>Sửa hồ sơ</span>
            </div>
        </div>
        <div class="deliver" style="margin-top: 20px;"></div>
        <ul>
            <li>
                <i class="bi bi-bell"></i> thông báo
            </li>
            <li>
                <i class="bi bi-person"></i> thông tin tài khoản
                <ul class="dropdown">
                    <li class="level_young">COP</li>
                    <li class="level_young">LOP</li>
                    <li class="level_young">Sạc không dây</li>
                    <li class="level_young">Elevator smartphone</li>
                </ul>
            </li>
        </ul>
    </aside>
    <div class="content_profile">

    </div>
</div>